<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Camping</title>
  @entryPointScripts('app')
  @entryPointStyles('app')

  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
  />
  <!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">

<!-- Core build with no theme, formatting, non-essential modules -->
<link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
  <style>
  .slide-up {
    transform: translateY(-86px);
  }
  </style>
</head>
<body>
<header id="header" class="h-[86px] shadow-lg flex bg-white justify-between items-center px-6 z-[9999] fixed top-0 w-full transition-transform duration-300 ease-in-out transform translate-y-0">
  <div class="flex gap-x-2 items-end ">
    <div class="text-2xl font-semibold"><a href="/">Camping</a></div>
    <div class="ml-10 pr-4">
      <ul class="flex gap-20">
        <li class="uppercase hover:border-b hover:border-black duration-300 px-4 {{title === 'home' ? 'border-b border-black' : ''}}"><a href="/">home</a></li>
        <li class="uppercase  hover:border-b hover:border-black duration-300 px-4 {{title === 'pages' ? 'border-b border-black' : ''}} relative group"><a href="/#">pages
          <ul class="absolute z-10 bg-white p-4 flex flex-col w-[200px] gap-2 border border-gray-300 top-[70px] left-0 group-hover:top-[51.5px] duration-300 opacity-0 invisible group-hover:visible ease-in-out group-hover:opacity-100">
              <li class="hover:bg-gray-200 p-2"><a href="/about_us">About Us</a></li>
              <li class="hover:bg-gray-200 p-2"><a href="/activities">Activities</a></li>
              <li class="hover:bg-gray-200 p-2"><a href="/contact">Contact</a></li>
          </ul>
        </a>
      </li>
        <li class="uppercase hover:border-b hover:border-black duration-300 px-4 {{title === 'gallery' ? 'border-b border-black' : ''}}"><a href="/gallery">gallery</a></li>
        {{--  <li class="uppercase hover:border-b hover:border-black duration-300 px-4 {{title === 'blog' ? 'border-b border-black' : ''}}"><a href="/blog">blog</a></li>  --}}
      </ul>
    </div>
  </div>
  <div class="flex divide-black">
    <div class="border-r pr-2 border-black">
      @if(username)
        {{ username }}
      @else
      @endif
    </div>

      @if (auth.user)
        <a class="pl-2" href="/logout">Logout</a>
      @else
        <a class="pl-2" href="/login">Login</a>
      @endif

  </div>
</header>
